*{
    margin: 0;
    padding: 0;
    boxing: border-box;
  }
  img{
    display:block;
    margin: auto;
    width: 400px;
    height:400px;
    border:3px salid black;
    border-radius: 100%
  }
  img:hover{
    transition: 2s all ease;
    transform: scale(1.2) rotate(360deg);
  }